# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environment
/venv/
/.venv/
.env
db.sqlite3

# Ignore migrations
**/migrations/*



# Project specific
/docs/
LICENSE
README.md